@page "/trucks/{Action}/{Id:guid?}"
@inject ITruckService TruckService
@inject IDriverService DriverService


<div class="max-w-2xl mx-auto p-4 sm:p-6">
    @if (AppState.IsBusy)
    {
        <Loader/>
    }
    else
    {
        <!-- Form Header -->
        <div class="mb-6">
            <h2 class="text-xl font-bold text-gray-900 dark:text-white">@(EditMode ? "Edit Truck" : "Add New Truck")</h2>
            <p class="text-sm text-gray-500 dark:text-gray-400">Please fill in the truck details below</p>
        </div>

        <!-- Truck Form -->
        <EditForm Model="@CurrentTruck" class="space-y-6">
            <DataAnnotationsValidator/>            

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                     <!-- Truck Number -->
                <div>
                    <label for="truckNo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Truck Number <span class="text-red-500">*</span>
                    </label>
                    <InputText type="text" id="truckNo" @bind-Value="CurrentTruck.TruckNo"
                        class="@GetInputClass("TruckNo")"
                        maxlength="20"
                        placeholder="Enter truck number"
                        @onchange="@(e => ValidateEntry("TruckNo", e.Value?.ToString() ?? string.Empty))"/>
                    @if (errors.ContainsKey("TruckNo"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["TruckNo"]</p>
                    }
                </div>

                <!-- License Plate -->
                <div>
                    <label for="licensePlate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        License Plate <span class="text-red-500">*</span>
                    </label>
                    <InputText type="text" id="licensePlate" @bind-Value="CurrentTruck.LicensePlate"
                        class="@GetInputClass("LicensePlate")"
                        maxlength="15"
                        placeholder="Enter license plate"
                            @onchange="@(e => ValidateEntry("LicensePlate", e.Value?.ToString() ?? string.Empty))"/>
                    @if (errors.ContainsKey("LicensePlate"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["LicensePlate"]</p>
                    }
                </div>
            </div>

           
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                     <!-- Manufacturer -->
                <div>
                    <label for="manufacturer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Manufacturer <span class="text-red-500">*</span>
                    </label>
                    <InputText type="text" id="manufacturer" @bind-Value="CurrentTruck.Manufacturer"
                        class="@GetInputClass("Manufacturer")"
                        maxlength="50"
                        placeholder="Enter manufacturer"/>
                    @if (errors.ContainsKey("Manufacturer"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["Manufacturer"]</p>
                    }
                </div>

                <!-- Color -->
                <div>
                    <label for="color" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Color
                    </label>
                    <InputText type="text" id="color" @bind-Value="CurrentTruck.Color"
                        class="@GetInputClass("Color")"
                        maxlength="20"
                        placeholder="Enter color"/>
                    @if (errors.ContainsKey("Color"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["Color"]</p>
                    }
                </div>
            </div>

             <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                 <!-- VIN -->
                <div>
                    <label for="vin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        VIN <span class="text-red-500">*</span>
                    </label>
                    <InputText type="text" id="vin" @bind-Value="CurrentTruck.VIN"
                        class="@GetInputClass("VIN")"
                        maxlength="30"
                        placeholder="Enter VIN"
                        @onchange="@(e => ValidateEntry("VIN", e.Value?.ToString() ?? string.Empty))"/>
                    @if (errors.ContainsKey("VIN"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["VIN"]</p>
                    }
                </div>

                <!-- Engine Number -->
                <div>
                    <label for="engineNo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Engine Number
                    </label>
                    <InputText type="text" id="engineNo" @bind-Value="CurrentTruck.EngineNo"
                        class="@GetInputClass("EngineNo")"
                        maxlength="30"
                        placeholder="Enter engine number"
                        @onchange="@(e => ValidateEntry("EngineNo", e.Value?.ToString() ?? string.Empty))" />
                    @if (errors.ContainsKey("EngineNo"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["EngineNo"]</p>
                    }
                </div>
             </div>
           

           

            <!-- Product Type -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Product Type <span class="text-red-500">*</span>
                    </label>
                    <InputSelect id="type" @bind-Value="CurrentTruck.Product" class="@GetInputClass("Type")">
                        <option value="">Select type</option>
                        @foreach (var type in Enum.GetValues<Product>())
                        {
                            <option value="@type">@StringConverter.ToDescription(type)</option>
                        }
                    </InputSelect>
                    @if (errors.ContainsKey("Type"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["Type"]</p>
                    }
                </div>
                <!-- Driver -->
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Driver 
                    </label>
                    <InputSelect @bind-Value="CurrentTruck.DriverId" id="driverId" class="@GetInputClass("DriverId")">
                        <option value="">-- Select Driver --</option>
                        @foreach (var driver in Drivers!)
                        {
                            <option value="@driver.Id">@driver.ToString()</option>
                        }
                    </InputSelect>
                    @if (errors.ContainsKey("DriverId"))
                    {
                        <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["DriverId"]</p>
                    }
                </div>  
            </div>            
            

            <!-- Dates (Display only when editing) -->
            @if (Id.HasValue)
            {                          
                @if (CurrentTruck?.Product != Product.CNG || CurrentTruck.CalibrationParams!.Count != 3)      
                {
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            <label for="CalibrationType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Calibration Type <span class="text-red-500">*</span>
                            </label>
                            <InputSelect id="CalibrationType" @bind-Value="CurrentTruck.CalibrationType" class="@GetInputClass("CalibrationType")">
                                <option value="">Select type</option>
                                @foreach (var type in Enum.GetValues<CalibrationType>())
                                {
                                    <option value="@type">@StringConverter.ToDescription(type)</option>
                                }
                            </InputSelect>
                            @if (errors.ContainsKey("CalibrationType"))
                            {
                                <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["CalibrationType"]</p>
                            }
                        </div>

                        <div>
                            <label for="expiry-date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Exipry Date <span class="text-red-500">*</span>
                            </label>
                            <input type="date" @bind="CurrentTruck.ExpiryDate" id="expiry-date"
                                class="@GetInputClass("ExpiryDate")"
                                placeholder="Select expiry date" />
                            @if (errors.ContainsKey("ExpiryDate"))
                            {
                                <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["ExpiryDate"]</p>
                            }
                        </div>
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            (@(Product)) Calibration Parameters 
                        </label>
                        @if (CurrentTruck.CalibrationParams!.Count != 3)
                        {
                            <div class="flex align-center justify-end">
                                <button @onclick="ShowAddModal" class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                    New Calibration
                                </button>
                            </div>
                        }
                        <CalibrationParamsEditor 
                            Product="@Product" 
                            CalibrationParams="@(CurrentTruck.CalibrationParams)"/>
                    </div>
                    <div>
                        <FileUploadView OnFilesUploaded="@OnUploadComplete"/>
                    </div>
                    <div>
                        <FileListView Files="CurrentTruck.Files"/>
                    </div>
                }                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-400">
                            Created At
                        </label>
                        <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300">
                            @CurrentTruck.CreatedAt.ToString("MMM dd, yyyy HH:mm")
                        </div>
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-400">
                            Last Updated
                        </label>
                        <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300">
                            @(CurrentTruck.UpdatedAt?.ToString("MMM dd, yyyy HH:mm") ?? "Never")
                        </div>
                    </div>
                </div>
            }

            <!-- Form Actions -->
            <div class="flex justify-end gap-4 pt-4 border-t border-gray-200 dark:border-gray-700">
                <button type="button" @onclick="Cancel"
                    class="px-5 py-2.5 text-sm font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                Cancel
                </button>
                <button type="button"
                    @onclick="HandleSubmit"
                    class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex items-center justify-center min-w-[120px]"
                    disabled="@AppState.IsProcessing">
                    @if (AppState.IsProcessing)
                    {
                        <svg class="animate-spin h-5 w-5 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                        </svg>
                        @("Processing...")
                    }
                    else
                    {
                         @(EditMode ? "Update Truck" : "Add Truck")
                    }
                </button>
            </div>
        </EditForm>
    }
</div>

<!-- Add/Edit Modal -->
@if (showModal)
{
    <div class="fixed inset-0 z-50 flex items-center justify-center p-4 bg-black/50 backdrop-blur-sm">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg w-full max-w-xl mx-auto">
            <div class="flex items-start justify-between p-6 border-b border-gray-200 dark:border-gray-700 rounded-t">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    @(isEditing ? "Edit" : "Add") @(CurrentTruck.LicensePlate) Calibration
                </h3>
                <button type="button" @onclick="CloseModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-700 dark:text-gray-200 dark:hover:text-white rounded-lg text-sm w-8 h-8 flex items-center justify-center">
                    <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 14 14">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l-6 6m6-6l6-6"></path>
                    </svg>
                </button>
            </div>
            <div class="p-6 space-y-5">
                <!-- Dynamic Fields -->
                @if (Product == Product.LPG)
                {
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700 mb-1">Tare Weight (kg)</label>
                        <InputNumber @bind-Value="currentCalibration.TareWeight" class="@GetInputClass("TareWeight")" />
                        @if (errors.ContainsKey("TareWeight"))
                        {
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["TareWeight"]</p>
                        }
                    </div>

                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700 mb-1">Gross Weight (kg)</label>
                        <InputNumber @bind-Value="currentCalibration.GrossWeight" class="@GetInputClass("GrossWeight")" />
                        @if (errors.ContainsKey("GrossWeight"))
                        {
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["GrossWeight"]</p>
                        }
                    </div>
                }
                else
                {
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700 mb-1">Compartment</label>
                        <InputSelect id="comId"
                            class="@GetInputClass("Compartment")"
                            @bind-Value="currentCalibration.Compartment"
                            @bind-Value:after="OnChanged">
                            <option value="">-- Select COM --</option>
                            @foreach (var compartment in compartments)
                            {
                                <option value="@compartment">@compartment</option>
                            }
                        </InputSelect>                        
                        @if (errors.ContainsKey("Compartment"))
                        {
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["Compartment"]</p>
                        }
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1">Ullage (mm)</label>
                            <InputNumber  @bind-Value="currentUllage" class="@GetInputClass("currentUllage")">
                            </InputNumber>
                            @if (errors.ContainsKey("currentUllage"))
                            {
                                <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["currentUllage"]</p>
                            }
                        </div>

                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1">Liquid Height (mm)</label>
                            <InputNumber @bind-Value="currentLiquidHeight" class="@GetInputClass("currentLiquidHeight")" />
                            @if (errors.ContainsKey("currentLiquidHeight"))
                            {
                                <p class="mt-1 text-sm text-red-600 dark:text-red-500">@errors["currentLiquidHeight"]</p>
                            }                                
                        </div>
                    </div>                                                        
                } 
            </div>                

            <div class="flex justify-end p-6 space-x-3 border-t border-gray-200 dark:border-gray-700 rounded-b">
                <button type="button"
                        @onclick="CloseModal"
                        class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:hover:bg-gray-600">
                    Cancel
                </button>
                <button type="button"
                        @onclick="SaveMetric"                        
                        class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex items-center justify-center min-w-[120px]">
                    Save
                </button>
            </div>                        
        </div>
    </div>            
}

@code {
    [Parameter] public string Action { get; set; } = "Add";
    [Parameter] public Guid? Id { get; set; }
    private Truck CurrentTruck { get; set; } = new();
    private bool EditMode { get; set; }   
    private Product Product { get; set; } = Product.PMS;
    
    bool result = false;
    private NotificationAlert? alert = null;

    private Dictionary<string, string> errors = new();

    private Driver[]? Drivers = [];
    private CalibrationParam currentCalibration = new();
    private bool showModal = false;
    private bool isEditing = false;
    private List<Compartment> compartments => GetCompartments();

    protected override async Task OnInitializedAsync()
    {
        // Load driver
        AppState.IsBusy = true;
        await Task.Delay(500);
        Drivers = await DriverService.GetAsync(AppState.GetCancellationToken());
        if (Id.HasValue)        
        {
            CurrentTruck = await TruckService.GetAsync(Id!.Value, AppState.GetCancellationToken()) ?? new();
            EditMode = true;
            Product = CurrentTruck.Product!.Value;
        }
        AppState.IsBusy = false;
    }

    private string GetInputClass(string fieldName)
    {
        var baseClass = "bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500";
        
        if (errors.ContainsKey(fieldName))
        {
            baseClass += " border-red-500 bg-red-50 dark:bg-red-900 dark:border-red-700";
        }
        else
        {
            baseClass += " border-gray-300";
        }
        
        return baseClass;
    }
                
    private async Task ValidateEntry(string type, string value)
    {        
        bool result = false;
        try
        {
            if (string.IsNullOrWhiteSpace(type) || string.IsNullOrWhiteSpace(value))
                return;

            result = await TruckService.ValidateEntry(type, value, AppState.GetCancellationToken());
            Console.WriteLine("{0} {1}", result, type);
            if (result)
            {
                if (type == "EngineNo")
                    errors["EngineNo"] = "Engine number already exist";

                if (type == "VIN")
                    errors["VIN"] = "VIN already exist";
                
                if (type == "TruckNo")
                    errors["TruckNo"] = "Truck number already exist";

                if (type == "LicensePlate")
                    errors["LicensePlate"] = "License Plate already exist";
            }    
        }
        catch(Exception ex)
        {

        }
    }

    private async Task HandleSubmit()
    {
        AppState.IsProcessing = true;
        errors.Clear();

        // Validate required fields
        if (string.IsNullOrWhiteSpace(CurrentTruck.TruckNo))
        {
            errors["TruckNo"] = "Truck number is required";
        }        
        else if (CurrentTruck.TruckNo.Length > 20)
        {
            errors["TruckNo"] = "Truck number cannot exceed 20 characters";
        }
        else
        {
            @if (EditMode)
            {
                // If editing, validate the truck number against existing records
                if (CurrentTruck.TruckNo != CurrentTruck.OriginalTruckNo)
                {
                    await ValidateEntry("TruckNo", CurrentTruck.TruckNo);
                }
            }
            else
            {
                // If adding a new truck, validate the truck number
                await ValidateEntry("TruckNo", CurrentTruck.TruckNo);
            }            
        }

        if (string.IsNullOrWhiteSpace(CurrentTruck.LicensePlate))
        {
            errors["LicensePlate"] = "License plate is required";
        }    
        else
        {
            @if (EditMode)
            {
                // If editing, validate the License number against existing records
                if (CurrentTruck.LicensePlate != CurrentTruck.OriginalLicensePlate)
                {
                    await ValidateEntry("LicensePlate", CurrentTruck.LicensePlate);
                }
            }
            else
            {
                // If adding a new truck, validate the License number
                await ValidateEntry("LicensePlate", CurrentTruck.LicensePlate);
            }        
        }

        if (!string.IsNullOrWhiteSpace(CurrentTruck.Manufacturer) && CurrentTruck.Manufacturer.Length > 50)
        {
            errors["Manufacturer"] = "Manufacturer cannot exceed 50 characters";
        }

        if (!string.IsNullOrWhiteSpace(CurrentTruck.Color) && CurrentTruck.Color.Length > 20)
        {
            errors["Color"] = "Color cannot exceed 20 characters";
        }

        if (!string.IsNullOrWhiteSpace(CurrentTruck.VIN) && CurrentTruck.VIN.Length > 30)
        {
            errors["VIN"] = "VIN cannot exceed 30 characters";
        }
        else
        {
            @if (EditMode)
            {
                // If editing, validate the VIN against existing records
                if (CurrentTruck.VIN != CurrentTruck.OriginalVIN)
                {
                    await ValidateEntry("VIN", CurrentTruck.VIN);
                }
            }
            else
            {
                // If adding a new truck, validate the VIN
                await ValidateEntry("VIN", CurrentTruck.VIN);
            }
        }
        if (string.IsNullOrWhiteSpace(CurrentTruck.Product.ToString()))
        {
            errors["Type"] = "Product type is required";
        }

        if (string.IsNullOrWhiteSpace(CurrentTruck.EngineNo))
        {
            errors["EngineNo"] = "Engine number cannot exceed 30 characters";
        }
        else
        {
            @if (EditMode)
            {
                // If editing, validate the EngineNo against existing records
                if (CurrentTruck.EngineNo != CurrentTruck.OriginalEngineNo)
                {
                    await ValidateEntry("EngineNo", CurrentTruck.EngineNo);
                }
            }
            else
            {
                // If adding a new truck, validate the EngineNo
                await ValidateEntry("EngineNo", CurrentTruck.EngineNo);
            }
        }

        @if (EditMode && CurrentTruck.DriverId is null)
        {
            errors["DriverId"] = "Driver is required";
        }

        if (errors.Any())
        {
            AppState.IsProcessing = false;
            StateHasChanged();
            return;
        }
                
        try
        {
            CurrentTruck.TruckNo = StringConverter.ConvertToTitleCase(CurrentTruck.TruckNo);
            if (!string.IsNullOrWhiteSpace(CurrentTruck.Manufacturer))
                CurrentTruck.Manufacturer = StringConverter.ConvertToTitleCase(CurrentTruck.Manufacturer);
            if (!string.IsNullOrWhiteSpace(CurrentTruck.Color))
                CurrentTruck.Color = StringConverter.ConvertToTitleCase(CurrentTruck.Color);

            if (!Id.HasValue)
            {
                result = await TruckService.AddAsync(CurrentTruck, AppState.GetCancellationToken());
            }
            else
            {
                result = await TruckService.UpdateAsync(CurrentTruck, AppState.GetCancellationToken());
            }

            @* alert = new($"Truck Successfully {(EditMode ? "Updated" : "Added")}", ToastIcon.Succees); *@
            if (result)
            {
                ToastService.ShowSuccess($"Truck successfully {(EditMode ? "updated" : "added")}", 5);
                @* await Task.Delay(1000); *@
                Cancel();
            }                
        }
        catch (Exception ex)
        {
            ToastService.ShowError("error occured");
        }
        finally
        {
            AppState.IsProcessing = false;
        }
    }

    private async Task OnUploadComplete(List<UploadResult> files)
    {        
        if (files.Any())
        {
            CurrentTruck.Files.AddRange(files);
            var result = await TruckService.UpdateAsync(CurrentTruck, AppState.GetCancellationToken());
            if (result)
                ToastService.ShowSuccess("File(s) uploaded and record saved successfully");            
            else
                ToastService.ShowError("Failed to driver");            
        }
        else
        {
            ToastService.ShowError("Failed to upload files");
        }
        StateHasChanged();
    }

    void CalibrationParamChanged(List<CalibrationParam> calibrationParams)
    {
        CurrentTruck.CalibrationParams = calibrationParams;        
    }
    
    private void Cancel()
    {
        nav.NavigateTo("trucks");
    }

    List<Compartment> GetCompartments()
    {

        if (CurrentTruck.CalibrationParams.Any())
        {
            var values = CurrentTruck.CalibrationParams.Select(c => c.Compartment).ToList();
            return Enum.GetValues(typeof(Compartment)).Cast<Compartment>().Where(x => !values.Any(c => c == x)).ToList();
        }   
        else
        {
            return Enum.GetValues(typeof(Compartment)).Cast<Compartment>().ToList();
        }
    }

    private async Task NotifyParent()
    {
        
    }

    void OnChanged()
    {

    }

    private decimal? currentUllage;
    private decimal? currentLiquidHeight;

    private void ShowAddModal()
    {
        currentCalibration = new CalibrationParam
        {
            Ullage = new(0),
            LiquidHeight = new(0)
        };
        currentUllage = null;
        currentLiquidHeight = null;
        isEditing = false;
        showModal = true;
        StateHasChanged();
    }

    private async Task EditMetric(CalibrationParam calibration)
    {
        currentCalibration = new CalibrationParam
        {
            Id = calibration.Id,            
            Compartment = calibration.Compartment,
            TareWeight = calibration.TareWeight,
            GrossWeight = calibration.GrossWeight,
            Ullage = calibration.Ullage,
            LiquidHeight = calibration.LiquidHeight,
            CreatedAt = calibration.CreatedAt
        };
        
        currentUllage = currentCalibration.Ullage?.Quantity;
        currentLiquidHeight = currentCalibration.LiquidHeight?.Quantity;
        
        isEditing = true;
        showModal = true;
    }

    private async Task SaveMetric()
    {
        errors.Clear();                
        if (Product == Product.LPG)
        {            
            if (currentCalibration.TareWeight <= 0 || currentCalibration.TareWeight is null)
            {
                errors["TareWeight"] = "Tare Weight is required";
            }

            if (currentCalibration.GrossWeight <= 0 || currentCalibration.GrossWeight is null)
            {
                errors["GrossWeight"] = "Gross Weight is required";
            }
        }
        else        
        {                        
            if (currentUllage <= 0 || currentUllage is null)
            {
                errors["currentUllage"] = "Ullage is required";
            }
            else
                currentCalibration.Ullage = new CompartmentQuantity (currentUllage);    

            if (currentLiquidHeight <= 0 || currentLiquidHeight is null)
            {
                errors["currentLiquidHeight"] = "Liquid Height is required";
            }   
            else         
                currentCalibration.LiquidHeight = new CompartmentQuantity(currentLiquidHeight);
        }
        
        if (errors.Any())
        {
            StateHasChanged();
            return;
        }

        currentCalibration.UpdatedAt = DateTime.UtcNow;

        if (isEditing)
        {
            var existing = CurrentTruck.CalibrationParams.FirstOrDefault(m => m.Id == currentCalibration.Id);
            if (existing != null)
            {
                CurrentTruck.CalibrationParams.Remove(existing);
                CurrentTruck.CalibrationParams.Add(currentCalibration);
            }
        }
        else
        {
            CurrentTruck.CalibrationParams.Add(currentCalibration);
        }

        await NotifyParent();
        CloseModal();
    }

    private async Task DeleteMetric(CalibrationParam calibration)
    {
        CurrentTruck.CalibrationParams.Remove(calibration);
    }

    private void CloseModal()
    {
        showModal = false;
    }
}