<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                @if (Product == Product.LPG)
                {
                    <th scope="col" class="px-6 py-3">Tare</th>
                    <th scope="col" class="px-6 py-3">Gross</th>    
                    <th scope="col" class="px-6 py-3">Net</th>                                        
                }
                else
                {
                    <th scope="col" class="px-6 py-3">Item</th>
                    <th scope="col" class="px-6 py-3">Ullage</th>
                    <th scope="col" class="px-6 py-3">Liquid Height</th>
                    <th scope="col" class="px-6 py-3">Overall</th>
                }                                                            
            </tr>
        </thead>
        <tbody>
            @foreach (var metric in MetricsList)
            {
                <tr class="bg-white border-b hover:bg-gray-50">
                    @if (Product == Product.LPG)
                    {
                        <td class="px-6 py-4">
                            <span>@metric.TareWeight kg</span><br />                                                        
                        </td>
                        <td class="px-6 py-4">
                            <span>@metric.GrossWeight kg</span><br />
                        </td>
                        <td class="px-6 py-4">
                            <span>@metric.NetWeight kg</span>
                        </td>
                    }
                    else
                    {        
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">@metric.Compartment</td>
                        <td class="px-6 py-4">
                            <span>@metric.Ullage?.Quantity </span><br />                                                        
                        </td>                 
                        <td class="px-6 py-4">
                            <span>@metric.LiquidHeight?.Quantity </span><br />
                        </td>   
                        <td class="px-6 py-4">
                            <span>@metric.Overall</span>
                        </td>
                    }                        
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public Product Product { get; set; }

    [Parameter]
    public List<Metrics> MetricsList { get; set; } = new();
}